body {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.house {
    position: absolute;
    height: 800px;
}

.text-discussion {
    position: absolute;
    font-size: 20px;
    width: 500px;
    right: 100px;
    top: 380px;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.childrens-stool {
    width: 80px;
    height: 80px;
    cursor: move;
    z-index: 500;
}

.ottoman {
    width: 200px;
    height: 200px;
    cursor: move;
    z-index: 500;
}

.plant {
    width: 150px;
    height: 150px;
    cursor: move;
    z-index: 500;
}

.kitchen{
    width: 250px;
    cursor:  move;
    z-index: 500;
}

.lamp{
    width: 100px;
    cursor:  move;
    z-index: 500;
}

.bed{
    position: absolute;
    width: 350px;
    cursor:  move;
    z-index: 600;
}

button {
    position: absolute;
    right: 200px;
    top: 300px;
    height: 50px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background-color: paleturquoise;
}