.adobefont_los_feliz {
    font-family: "los-feliz", serif;
    font-weight: 400;
    font-style: normal;
}

.adobefont_los_feliz_italic {
    font-family: "los-feliz", serif;
    font-weight: 400;
    font-style: italic;
    transition: color 750ms, transform 750ms;

    &:hover{
        color: red;
        transform: translateX(100px);
    }
}

.googlefont_rubik {
    font-family: 'Rubik Burned', system-ui;

    &:hover {
        animation-name: slide-right;
        animation-duration: 2s;
    }
}

@font-face {
    font-family: 'Bespoke1';
    src: url('fonts/Bespoke-hecVDwBha_.eot');
    src: url('fonts/Bespoke-hecVDwBha_.eot?#iefix') format('embedded-opentype'),
       url('fonts/Bespoke-hecVDwBha_.woff') format('woff'),
       url('fonts/Bespoke-hecVDwBha_.ttf') format('truetype'),
       url('fonts/Bespoke-hecVDwBha_.svg#Bespoke-hecVDwBha_') format('svg');
  }

  .self-hosted {
    font-family: 'Bespoke1', sans-serif;
  }

@keyframes slide-right {
    to {
        transform: translateX(0);

    }
    from {
        transform: translateX(10px);

    }
}

.adobefont_los_feliz:hover {
    color: blue;
    transition: color 750ms;
}