body {
    text-align: center;
    display: flex;
    justify-content: center;
}

button {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}

img {
    width: 250px;
}

.readings-button {
    display: absolute;
    z-index: 1;
}

.p1-button {
    width: 150px;
    &:hover {
        transform: translateX(-50px) translateY(30px);
    }
}

.popup-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1;
  }
  
  .popup-menu a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
  }
  
  .popup-menu a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }