* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E1DA;
    font: sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
}

.scene1 {
    height: 300px;
    width: 300px;
    background-color: #FCD9D4;
    border: 1px solid black;
    position: relative;
    display: inline-block;
    top: 300px;

    &:hover {
        background-color: #6C5FA0;
    }
}

.scene2 {
    height: 300px;
    width: 300px;
    background-color: #FFB4B4;
    border: 1px solid black;
    position: relative;
    display: inline-block;
    margin-left: 20px;
    top: 300px;

    &:hover {
        background-color: #422F8E;
    }
}

.scene3 {
    height: 300px;
    width: 300px;
    background-color: #E87B7B;
    border: 1px solid black;
    position: relative;
    display: inline-block;
    margin-left: 20px;
    top: 300px;

    &:hover {
        background-color: #18036B;
    }
}

/*.trapezoid {
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-bottom: 200px solid blue;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
}