* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E1DA;
    font: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scene1 {
    height: 500px;
    width: 200px;
    background-color: #FCD9D4;
    border: 1px solid black;
    position: relative;
    display: inline-block;
    top: 150px;
    transition: background-color 0.3s;

    &:hover {
        background-color: #D4E9FC;
    }
}

.scene2 {
    height: 500px;
    width: 200px;
    background-color: #FFB4B4;
    border: 1px solid black;
    position: relative;
    display: inline-block;
    top: 150px;
    transition: background-color 0.3s;

    &:hover {
        background-color: #A5C6F7;
    }
}

.scene3 {
    height: 500px;
    width: 200px;
    background-color: #E87B7B;
    border: 1px solid black;
    position: relative;
    display: inline-block;
    top: 150px;
    transition: background-color 0.3s;

    &:hover {
        background-color: #6BA1F3;
    }
}

.style2 {
    display: inline-block;
}

.style3 {
    display: inline-block; margin-left: 8px;
}

.shadow {
    position: relative;
    bottom: -145px;
    left: -90px;
    width: 200px;
    height: 105px;
    background-color: #8F8F8F;
    border-top: 1px solid black;
    transform: skew(-60deg);
}

.circle-sun {
    height: 95px;
    width: 95px;
    border-radius: 50%;
    background-color: #F8FFCE;
    position: absolute;
    margin-top: -272px;
    margin-left: 32px;
}

a:hover~.circle-sun {
    background-color: #5570FF;
}

.window-horizontal {
    height: 4px;
    width: 200px;
    background-color: #414141;
    position: absolute;
    margin-top: 55px;
}

.window-vertical {
    height: 500px;
    width: 4px;
    background-color: #414141;
    position: absolute;
    margin-left: 100px;
    margin-top: -354px;
}

.tree {
    position: absolute;
    left: 730px;
    top: 235px;
    width: 87px;
    height: 348px;
    border-radius: 50%;
    background-color: #FCD9D4;
}

a:hover~.tree {
    background-color: #5570FF;
}

.tree-trunk {
    position: absolute;
    top: 580px;
    left: 768px;
    width: 11px;
    height: 70px;
    background-color: #FCD9D4;
    border-bottom: 1px solid black;
}

a:hover~.tree-trunk {
    background-color: #5570FF;
}

.star1 {
    position: absolute;
    opacity: 0;
    background-color: white;
    font-size: 20px;
    width: 1em;
    height: 1em;
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
    margin-left: 10px;
    margin-top: -100px;
}

a:hover~.star1 {
    opacity: 1;
}

.star2 {
    position: absolute;
    opacity: 0;
    background-color: white;
    font-size: 20px;
    width: 1em;
    height: 1em;
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
    margin-left: 50px;
    margin-top: -100px;
}

a:hover~.star2 {
    opacity: 1;
}

.star3 {
    position: absolute;
    opacity: 0;
    background-color: white;
    font-size: 20px;
    width: 1em;
    height: 1em;
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
    margin-left: 40px;
    margin-top: -50px;
}

a:hover~.star3 {
    opacity: 1;
}

.star4 {
    position: absolute;
    opacity: 0;
    background-color: white;
    font-size: 20px;
    width: 1em;
    height: 1em;
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
    margin-left: 30px;
    margin-top: -150px;
}

a:hover~.star4 {
    opacity: 1;
}

.star5 {
    position: absolute;
    opacity: 0;
    background-color: white;
    font-size: 20px;
    width: 1em;
    height: 1em;
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
    margin-left: 70px;
    margin-top: -180px;
}

a:hover~.star5 {
    opacity: 1;
}


.star6 {
    position: absolute;
    opacity: 0;
    background-color: white;
    font-size: 20px;
    width: 1em;
    height: 1em;
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
    margin-left: 20px;
    margin-top: -200px;
}

a:hover~.star6 {
    opacity: 1;
}


.star7 {
    position: absolute;
    opacity: 0;
    background-color: white;
    font-size: 20px;
    width: 1em;
    height: 1em;
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
    margin-left: 55px;
    margin-top: -250px;
}

a:hover~.star7 {
    opacity: 1;
}


.star8 {
    position: absolute;
    opacity: 0;
    background-color: white;
    font-size: 20px;
    width: 1em;
    height: 1em;
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
    margin-left: 30px;
    margin-top: -300px;
}

a:hover~.star8 {
    opacity: 1;
}

.sofa {
    position: relative;
    top: -80px;
    right: -580px;
    width: 209px;
    height: 136px;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    background-color: #A92222;
    border: 1px solid black;
}

.back-cushion {
    position: absolute;
    margin: 30px;
    bottom: 10px;
    width: 146px;
    height: 132px;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    background-color: #680000;
    border: 1px solid black;
}

.seat-cushion {
    position: absolute;
    margin-top: 88px;
    background-color: #A92222;
    border: 1px solid black;
    width: 209px;
    height: 33px;
    border-radius: 50%;
}

.sofa-leg {
    position: absolute;
    bottom: -10px;
    width: 20px;
    height: 10px;
    background-color: black;
}

.sofa-leg1 {
    position: absolute;
    right: -1px;
    bottom: -10px;
    width: 20px;
    height: 10px;
    background-color: black;
}

.turkish-carpet {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(20, 1fr);
    margin: 100px;
    width: 1000px;
    height: 600px;
    background-color: #D4A3A3;
    border: 1px solid black;
}

.mustard {
    background-color: #C59620;
    transition-delay: background-color 1s;
    transition-duration: background-color 20s;

    &:hover {
        background-color: #FFC83B;
    }
}

.blue {
    background-color: #255DA0;
    transition-delay: background-color 1s;
    transition-duration: background-color 20s;


    &:hover {
        background-color: #3B95FF;
    }
}

.green {
    background-color: #8FA21E;
    transition-delay: background-color 1s;
    transition-duration: background-color 20s;


    &:hover {
        background-color: #B8D028;
    }
}

.red {
    background-color: #901B1B;
    transition-delay: background-color 1s;
    transition-duration: background-color 20s;


    &:hover {
        background-color: #D02828;
    }
}

.orange {
    background-color: #D08022;
    transition-delay: background-color 1s;
    transition-duration: background-color 20s;


    &:hover {
        background-color: #F99928;
    }
}

.rose {
    background-color: #D4A3A3;
    transition-delay: background-color 1s;
    transition-duration: background-color 20s;


    &:hover {
        background-color: #FEC3C3;
    }
}

.tassle {
    position: absolute;
    width: 10px;
    height: 1px;
    background-color: black;
    left: 239px;
}

.tassle1 {
    position: absolute;
    width: 10px;
    height: 1px;
    background-color: black;
    left: 1248px;
}

button {
    position: absolute;
    left: 60px;
    top: 300px;
    width: 40px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #E5E1DA;
}

.couch {
    position: absolute;
    top: 500px;
    left: 992px;
    width: 442px;
    height: 193px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #A92222;
    border: 1px solid black;
    transform: rotate(-40deg);
    z-index: 1000;

}

.right-arm {
    position: absolute;
    left: -15px;
    top: 40px;
    width: 30px;
    height: 168px;
    background-color: #680000;
    border: 1px solid black;
    border-radius: 25px;
    z-index: 1500;
}

.left-arm {
    position: absolute;
    right: -15px;
    top: 40px;
    width: 30px;
    height: 168px;
    background-color: #680000;
    border: 1px solid black;
    border-radius: 25px;
    z-index: 1500;
}

.couch-back {
    position: absolute;
    top: 160px;
    width: 442px;
    height: 40px;
    background-color: #680000;
    border: 1px solid black;
    z-index: 1400;
}

.cushion-button {
    position: absolute;
    top: 90px;
    left: 110px;
    background-color: #A92222;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
    z-index: 1300;
}

.couch-cushion {
    position: absolute;
    left: 20px;
    top: 10px;
    background-color: #A92222;
    border: 1px solid black;
    width: 198px;
    height: 164px;
    border-radius: 40px;
}

.cushion-button1 {
    position: absolute;
    top: 90px;
    right: 110px;
    background-color: #A92222;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
    z-index: 1300;
}

.couch-cushion1 {
    position: absolute;
    right: 20px;
    top: 10px;
    background-color: #A92222;
    border: 1px solid black;
    width: 198px;
    height: 164px;
    border-radius: 40px;
}

.single-sofa {
    position: absolute;
    left: 350px;
    top: 450px;
    width: 275px;
    height: 275px;
    border-top-left-radius: 130px;
    border-top-right-radius: 130px;
    background-color: #A92222;
    border: 1px solid black;
    transform: rotate(15deg);
}

.single-sofa-top {
    position: absolute;
    left: 20px;
    top: 10px;
    width: 236px;
    height: 236px;
    border-top-left-radius: 130px;
    border-top-right-radius: 130px;
    background-color: #A92222;
    border: 1px solid black;
}

.single-sofa-button {
    position: absolute;
    left: 130px;
    top: 120px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #A92222;
    border: 1px solid black;
}

.single-sofa-back {
    position: absolute;
    top: 230px;
    left: -33px;
    width: 333px;
    height: 60px;
    border-radius: 30px;
    background-color: #A92222;
    border: 1px solid black;
}

.single-sofa-dark-red {
    position: absolute;
    bottom: 42px;
    left: 18px;
    width: 241px;
    height: 40px;
    border-radius: 30px;
    background-color: #680000;
    border: 1px solid black;
    z-index: 1500;
}

.single-sofa1 {
    position: absolute;
    left: 950px;
    top: 200px;
    width: 275px;
    height: 275px;
    border-top-left-radius: 130px;
    border-top-right-radius: 130px;
    background-color: #A92222;
    border: 1px solid black;
    transform: rotate(-70deg);
}

.single-sofa-top1 {
    position: absolute;
    left: 20px;
    top: 10px;
    width: 236px;
    height: 236px;
    border-top-left-radius: 130px;
    border-top-right-radius: 130px;
    background-color: #A92222;
    border: 1px solid black;
}

.single-sofa-button1 {
    position: absolute;
    left: 130px;
    top: 120px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #A92222;
    border: 1px solid black;
}

.single-sofa-back1 {
    position: absolute;
    top: 230px;
    left: -33px;
    width: 333px;
    height: 60px;
    border-radius: 30px;
    background-color: #A92222;
    border: 1px solid black;
}

.single-sofa-dark-red1 {
    position: absolute;
    bottom: 42px;
    left: 18px;
    width: 241px;
    height: 40px;
    border-radius: 30px;
    background-color: #680000;
    border: 1px solid black;
    z-index: 1500;
}

.backgammon {
    position: relative;
    top: 100px;
    width: 248px;
    height: 178px;
    background-color: #0161B9;
    border: 10px solid #102C46;
}

.backgammon1 {
    position: absolute;
    top: 168px;
    left: -10px;
    width: 248px;
    height: 178px;
    background-color: #0161B9;
    border: 10px solid #102C46;
    z-index: 20;
}


.play-triangle-red {
    position: absolute;
    bottom: -1px;
    width: 100px;
    height: 26px;
    background-color: #D71424;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
}

.play-triangle-black {
    position: absolute;
    bottom: 26px;
    width: 100px;
    height: 26px;
    background-color: black;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
}

.play-triangle-red1 {
    position: absolute;
    bottom: 53px;
    width: 100px;
    height: 26px;
    background-color: #D71424;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
    z-index: 500;
}

.play-triangle-black1 {
    position: absolute;
    bottom: 80px;
    width: 100px;
    height: 26px;
    background-color: black;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
    z-index: 500;
}

.play-triangle-red2 {
    position: absolute;
    bottom: 107px;
    width: 100px;
    height: 26px;
    background-color: #D71424;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
    z-index: 500;
}

.play-triangle-black2 {
    position: absolute;
    bottom: 134px;
    width: 100px;
    height: 26px;
    background-color: black;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
    z-index: 500;
}

.play-triangle-red3 {
    position: absolute;
    bottom: -45px;
    width: 100px;
    height: 26px;
    background-color: #D71424;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
    z-index: 500;
}

.play-triangle-black3 {
    position: absolute;
    bottom: -72px;
    width: 100px;
    height: 26px;
    background-color: black;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
    z-index: 500;
}

.play-triangle-red4 {
    position: absolute;
    bottom: -99px;
    width: 100px;
    height: 26px;
    background-color: #D71424;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
    z-index: 500;
}

.play-triangle-black4 {
    position: absolute;
    bottom: -126px;
    width: 100px;
    height: 26px;
    background-color: black;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
    z-index: 500;
}

.play-triangle-red5 {
    position: absolute;
    bottom: -153px;
    width: 100px;
    height: 26px;
    background-color: #D71424;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
    z-index: 500;
}

.play-triangle-black5 {
    position: absolute;
    bottom: -180px;
    width: 100px;
    height: 26px;
    background-color: black;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
    z-index: 500;
}

.play-triangle-red6 {
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 100px;
    height: 26px;
    background-color: #D71424;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
    transform: rotate(180deg);
    z-index: 500;
}

.play-triangle-black6 {
    position: absolute;
    bottom: 26px;
    right: -1px;
    width: 100px;
    height: 26px;
    background-color: black;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
    transform: rotate(180deg);
    z-index: 500;
}

.play-triangle-red7 {
    position: absolute;
    bottom: 53px;
    right: -1px;
    width: 100px;
    height: 26px;
    background-color: #D71424;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
    transform: rotate(180deg);
    z-index: 500;
}

.play-triangle-black7 {
    position: absolute;
    bottom: 80px;
    right: -1px;
    width: 100px;
    height: 26px;
    background-color: black;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
    transform: rotate(180deg);
    z-index: 500;
}

.play-triangle-red8 {
    position: absolute;
    bottom: 107px;
    right: -1px;
    width: 100px;
    height: 26px;
    background-color: #D71424;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
    transform: rotate(180deg);
    z-index: 500;
}

.play-triangle-black8 {
    position: absolute;
    bottom: 134px;
    right: -1px;
    width: 100px;
    height: 26px;
    background-color: black;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
    transform: rotate(180deg);
    z-index: 500;
}

.play-triangle-red9 {
    position: absolute;
    bottom: -45px;
    right: -1px;
    width: 100px;
    height: 26px;
    background-color: #D71424;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
    transform: rotate(180deg);
    z-index: 500;
}

.play-triangle-black9 {
    position: absolute;
    bottom: -72px;
    right: -1px;
    width: 100px;
    height: 26px;
    background-color: black;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
    transform: rotate(180deg);
    z-index: 500;
}

.play-triangle-red10 {
    position: absolute;
    bottom: -99px;
    right: -1px;
    width: 100px;
    height: 26px;
    background-color: #D71424;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
    transform: rotate(180deg);
    z-index: 500;
}

.play-triangle-black10 {
    position: absolute;
    bottom: -126px;
    right: -1px;
    width: 100px;
    height: 26px;
    background-color: black;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
    transform: rotate(180deg);
    z-index: 500;
}

.play-triangle-red11 {
    position: absolute;
    bottom: -153px;
    right: -1px;
    width: 100px;
    height: 26px;
    background-color: #D71424;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
    transform: rotate(180deg);
    z-index: 500;
}

.play-triangle-black11 {
    position: absolute;
    bottom: -180px;
    right: -1px;
    width: 100px;
    height: 26px;
    background-color: black;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
    transform: rotate(180deg);
    z-index: 500;
}

.play-circle-white {
    position: absolute;
    top: 27px;
    right: -1px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: white;
    border: 0.5px solid black;
    z-index: 2000;
    transition: transform 0.4s;

    &:hover {
        transform: translateX(-150px);
    }
}

.play-circle-white1 {
    position: absolute;
    bottom: -100px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: white;
    border: 0.5px solid black;
    z-index: 2000;
    transition: transform 0.4s;

    &:hover {
        transform: translateX(150px);
    }
}

.play-circle-white2 {
    position: absolute;
    bottom: -150px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: white;
    border: 0.5px solid black;
    z-index: 2000;
    transition: transform 0.4s;

    &:hover {
        transform: translateX(90px);
    }
}

.play-circle-black {
    position: absolute;
    top: 110px;
    right: -1px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: black;
    border: 0.5px solid white;
    z-index: 2000;
    transition: transform 0.4s;

    &:hover {
        transform: translateY(150px);
    }
}

.play-circle-black1 {
    position: absolute;
    top: 110px;
    right: 26px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: black;
    border: 0.5px solid white;
    z-index: 2000;
    transition: transform 0.4s;

    &:hover {
        transform: translateY(120px);
    }
}

.play-circle-black2 {
    position: absolute;
    top: 110px;
    right: 53px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: black;
    border: 0.5px solid white;
    z-index: 2000;
    transition: transform 0.4s;

    &:hover {
        transform: translateY(200px);
    }
}

.garden-tree {
    position: absolute;
    top: 40px;
    left: 200px;
    height: 627px;
    width: 153px;
    border-radius: 50%;
    background-color: #ACB579;
    border: 1px solid black;
}

.garden-tree1 {
    position: absolute;
    left: 1000px;
    height: 627px;
    width: 153px;
    border-radius: 50%;
    background-color: #ACB579;
    border: 1px solid black;
}

.garden-tree2 {
    position: absolute;
    left: 200px;
    top: 40px;
    height: 458px;
    width: 112px;
    border-radius: 50%;
    background-color: #ACB579;
    border: 1px solid black;
}

.garden-tree3 {
    position: absolute;
    left: 850px;
    top: 40px;
    height: 458px;
    width: 112px;
    border-radius: 50%;
    background-color: #ACB579;
    border: 1px solid black;
}

.garden-tree4 {
    position: absolute;
    left: 350px;
    top: 100px;
    height: 288px;
    width: 70px;
    border-radius: 50%;
    background-color: #ACB579;
    border: 1px solid black;
}

.garden-tree5 {
    position: absolute;
    left: 750px;
    top: 100px;
    height: 288px;
    width: 70px;
    border-radius: 50%;
    background-color: #ACB579;
    border: 1px solid black;
}

.garden-tree6 {
    position: absolute;
    left: 680px;
    top: 150px;
    height: 179px;
    width: 47px;
    border-radius: 50%;
    background-color: #ACB579;
    border: 1px solid black;
}

.garden-tree7 {
    position: absolute;
    left: 450px;
    top: 150px;
    height: 179px;
    width: 47px;
    border-radius: 50%;
    background-color: #ACB579;
    border: 1px solid black;
}

.garden-tree-trunk {
    position: absolute;
    left: 65px;
    top: 500px;
    height: 263px;
    width: 23px;
    background-color: #937C7C;
    border: 1px solid black;
    z-index: 1000;
}

.garden-tree-trunk1 {
    position: absolute;
    left: 1065px;
    top: 500px;
    height: 263px;
    width: 23px;
    background-color: #937C7C;
    border: 1px solid black;
    z-index: 1000;
}

.garden-tree-trunk2 {
    position: absolute;
    left: 250px;
    top: 400px;
    height: 212px;
    width: 15px;
    background-color: #937C7C;
    border: 1px solid black;
    z-index: 1000;
}

.garden-tree-trunk3 {
    position: absolute;
    left: 900px;
    top: 400px;
    height: 212px;
    width: 15px;
    background-color: #937C7C;
    border: 1px solid black;
    z-index: 1000;
}

.garden-tree-trunk4 {
    position: absolute;
    left: 780px;
    top: 350px;
    height: 157px;
    width: 9px;
    background-color: #937C7C;
    border: 1px solid black;
    z-index: 1000;
}

.garden-tree-trunk5 {
    position: absolute;
    left: 380px;
    top: 350px;
    height: 157px;
    width: 9px;
    background-color: #937C7C;
    border: 1px solid black;
    z-index: 1000;
}

.garden-tree-trunk6 {
    position: absolute;
    left: 470px;
    top: 300px;
    height: 117px;
    width: 5px;
    background-color: #937C7C;
    border: 1px solid black;
    z-index: 1000;
}

.garden-tree-trunk7 {
    position: absolute;
    left: 700px;
    top: 300px;
    height: 117px;
    width: 5px;
    background-color: #937C7C;
    border: 1px solid black;
    z-index: 1000;
}

.garden-tree-shadow {
    position: absolute;
    right: -450px;
    bottom: -180px;
    height: 124px;
    width: 660px;
    border-radius: 50%;
    background-color: #414141;
}

.garden-tree-shadow1 {
    position: absolute;
    bottom: -180px;
    left: 600px;
    height: 124px;
    width: 660px;
    border-radius: 50%;
    background-color: #414141;
}

.garden-tree-shadow2 {
    position: absolute;
    bottom: -70px;
    left: 380px;
    height: 124px;
    width: 660px;
    border-radius: 50%;
    background-color: #414141;
}

.garden-tree-shadow3 {
    position: absolute;
    bottom: -70px;
    left: 160px;
    height: 124px;
    width: 660px;
    border-radius: 50%;
    background-color: #414141;
}

.garden-tree-shadow4 {
    position: absolute;
    bottom: 70px;
    left: 340px;
    height: 88px;
    width: 496px;
    border-radius: 50%;
    background-color: #414141;
}

.garden-tree-shadow5 {
    position: absolute;
    bottom: 175px;
    left: 420px;
    height: 61px;
    width: 354px;
    border-radius: 50%;
    background-color: #414141;
}

p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 100px;
    margin-left: 80px;
}

.door {
    position: absolute;
    top: 300px;
    left: 750px;
    height: 143px;
    width: 74px;
    background-color: #907B67;
    border: 1px solid black;
    z-index: 1000;
}

.door-knob {
    position: absolute;
    bottom: 64px;
    left: 6px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #6F5E4F;
    border: 1px solid black;
    z-index: 1200;
}

.door-w {
    position: absolute;
    top: 8px;
    left: 7px;
    height: 15px;
    width: 60px;
    border-radius: 4px;
    background-color: #D9D9D9;
    border: 1px solid black;
}

.door-w1 {
    position: absolute;
    top: 28px;
    left: 7px;
    height: 15px;
    width: 60px;
    border-radius: 4px;
    background-color: #D9D9D9;
    border: 1px solid black;
}

.door-w2 {
    position: absolute;
    top: 48px;
    left: 7px;
    height: 15px;
    width: 60px;
    border-radius: 4px;
    background-color: #D9D9D9;
    border: 1px solid black;
}