body {
    margin: 0;
    padding: 0;
    background-color: #E8E8E8;
    font-family: Inter;
}

.felx-part {
    display: flex;
}

.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.inter-light-italic {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "slnt" -10;
}

.pt-mono-regular {
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }  

header {
    position: flexbox;
    height: 60px;
    background-color: #E8E8E8;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

footer {
    position: flexbox;
    height: 60px;
    background-color: #E8E8E8;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.title {
    position: absolute;
    top: 46px;
    right: 116.8px;
    font-size: 110px;
    font-weight: 400;
    text-align: right;
    z-index: 1000;
}

.date {
    position: absolute;
    top: 400px;
    left: 730px;
    font-family: monospace;
    font-weight: 200;
    font-size: 25.65px;
}

.title-box1 {
    position: absolute;
    top: 116px;
    right: 104px;
    width: 480.11px;
    height: 139.27px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.title-box2 {
    position: absolute;
    top: 254.35px;
    right: 104px;
    width: 667.02px;
    height: 138.35px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.title-box3 {
    position: absolute;
    top: 393.5px;
    right: 104px;
    width: 273.04px;
    height: 138.35px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.organizers {
    padding-left: 104px;
    font-size: 22.9px;
    font-weight: 300;
    line-height: 1.4;
}

.paragraph {
    position: absolute;
    top: 545px;
    right: 120px;
    font-size: 18.32px;
    font-weight: 300;
    line-height: 1.4;
    width: 257.46px;
    height: 522.26px;
}

.speakers {
    padding-left: 104px;
    font-size: 22.9px;
    font-weight: 300;
    line-height: 1.4;
}

.reserve-button {
    margin-left: 104px;
    margin-top: 50px;
    font-family: monospace;
    font-size: 25.65px;
    background-color: #AEFFE7;
    width: 420px;
    height: 57px;
    border: 1px solid black;

    &:hover {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    }
}

.schedule-button {
    margin-left: 104px;
    margin-bottom: 100px;
    font-family: monospace;
    font-size: 25.65px;
    background-color: #8DFF84;
    width: 524px;
    height: 57px;
    border: 1px solid black;
    margin-top: 20px;

    &:hover {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    }
}

.black-lens1 {
    position: absolute;
    top: 541px;
    left: 381px;
    width: 182px;
    height: 182px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.lens1 {
    position: absolute;
    top: 569px;
    left: 410px;
    width: 149px;
    height: 149px;
    background: linear-gradient(#FFFCB8, #FFCAFA);
    border-radius: 50%;
    z-index: 1200;
}

.black-lens2 {
    position: absolute;
    top: 488px;
    left: 687px;
    width: 182px;
    height: 182px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.lens2 {
    position: absolute;
    top: 517px;
    left: 692px;
    width: 149px;
    height: 149px;
    background: linear-gradient(#A3FFD3, #FFBABA);
    border-radius: 50%;
    z-index: 1200;
}

.black-lens3 {
    position: absolute;
    top: 649px;
    left: 559px;
    width: 182px;
    height: 182px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.lens3 {
    position: absolute;
    top: 650px;
    left: 581px;
    width: 149px;
    height: 149px;
    background: linear-gradient(#ACE1FF, #9DA1FF);
    border-radius: 50%;
    z-index: 1200;
}

.ticker-wrapper {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background: #E8E8E8;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    color: black;
    display: flex;
    align-items: center;
}

.ticker-text {
    font-family: monospace;
    font-size: 25px;
    display: inline-block;
    margin-right: 100%;
    animation: ticker 30s linear infinite;
}

.ticker-text {
    font-family: monospace;
    font-size: 25px;
    padding-right: 50px;
    /* Adjust the spacing between repeats */
}

@keyframes ticker {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat (3, 1fr);
}

.weekdays {
    font-family: monospace;
}

.october-23 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: inline-block;
    border: 1px solid black;
    margin: 20px;
    text-align: center;
    margin-left: 100px;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.october-24 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: inline-block;
    border: 1px solid black;
    margin: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.october-25 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: inline-block;
    border: 1px solid black;
    margin: 20px;
    text-align: center;
    margin-right: 100px;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.event1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border: 1px solid black;
    margin: 20px;
    text-align: center;
    margin-left: 100px;
    padding: 15px;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.event2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 1px solid black;
    margin: 20px;
    text-align: center;
    padding: 15px;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.event3 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    border: 1px solid black;
    margin: 20px;
    text-align: center;
    padding: 15px;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.event4 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    border: 1px solid black;
    margin: 20px;
    text-align: center;
    margin-right: 100px;
    padding: 15px;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.event5 {
    grid-column: 3 / 4;
    grid-row: 3 /4;
    border: 1px solid black;
    margin: 20px;
    text-align: center;
    margin-right: 100px;
    padding: 15px;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.enroll-button {
    font-family: monospace;
    font-size: 12px;
    background-color: #DFFF84;
    width: 100px;
    height: 25px;
    border: 1px solid black;

    &:hover {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    }
}

.button-goback {
    margin-left: 104px;
    margin-bottom: 30px;
    font-family: monospace;
    font-size: 25.65px;
    background-color: #C984FF;
    width: 178px;
    height: 57px;
    border: 1px solid black;
    margin-top: 20px;

    &:hover {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    }
}