* {
    margin: 0;
    padding: 0;
}

body {
    display: flexbox;
    font-size: 8pt;
    margin: 20px;
    padding: 0px;
    text-align: center;
    font-family: "Inconsolata";
    background-image: url('background.png'); /* Set the background image */
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-attachment: fixed; /* Fix the background image so it doesn't scroll */
}

.back-white {
    background-color: white;
    margin-left: 450px;
    border: 1px solid black;
    width: 600px;
    height: 100 vh;
}

a {
    font-size: 16px;
}

.back {
    width: 100px;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
    margin-top: 40px;
}

h4 {
    font-size: 2em;
    color: #041f98;
}

p {
    font-size: 12pt;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}
figcaption {
    font-size: 1.25em;
}

h2, p, figure, figcaption {
    margin-bottom: 40px;
}
img {
    margin: 10px;
    max-width: 500px;
}

.title {
    margin-bottom: 100px; /* Add spacing to the bottom of the title div */
}

@media (max-width: 991px) {
    .process-template {
        width: 60%;
    }
}

@media (max-width:767px) {
    body {
        margin: 40px;
        font-size: 10px;
    }
    .process-template {
        width: 100%;
    }
}

button {
    margin: 60px;
    height: 90px;
    width: 180px;
    font-size: 18pt;
    border-radius: 10px;
}