body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#fallingSand {
    width: 100vw;
    height: 100vh;
}

.refresh {
    position: absolute;
    right: 80px;
    top: 100px;
    width: 85px;
    height: 85px;
    padding: 20px;
    &:hover {
        transform: scale(1.1);
    }
}

.back {
    position: absolute;
    right: 80px;
    top: 210px;
    width: 85px;
    height: 85px;
    padding: 20px;
    &:hover {
        transform: scale(1.1);
    }
}